.fondo {
    background-image: url("../img/cargando.jpg");
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
}