:root {
    --white: #fff;
    --green: #00AF00;
    --black: #0000001a;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: initial;
    width: 100%;
    background-color: #f4f4f4;
    padding: 1rem;
    box-shadow: 0 4px 6px var(--black);
    margin-left: 5px;

}


.title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
    font-family: 'Lucida Sans', 'Lucida Grande', sans-serif;
}

.select {
    width: 300px;

    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid var(--green);
    background-color: var(--white);
    color: #333;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.select:hover {
    border-color: #008800;
}



@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 0.5rem;
    }

    .select {
        width: 100%;
        font-size: 0.9rem;
    }
}