.titulo {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #123F6F;
}

.contenedorPart1 {
    margin-top: 10em;
}

.parrafo {
    font-size: 25px;
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 767.98px) {
    .parrafo {
        font-size: 20px;
    }
}

.iconoP1 {
    font-size: 5em;
    margin: 40% 0px;
    color: #123F6F;
}

.contenedorEstilos {
    background-color: #C6FF00;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 50% 90px;
    border-bottom-right-radius: 50% 90px;
    overflow: hidden;
}

.contenedorEstilos {
    margin-top: 5em;
    padding: 40px;
}