:root {
    --white: #fff;
    --green: #00AF00;
    --black: #0000001a;
    --red: red;
}


/* d-flex-empleado justify-content-center align-items-center vh-100 */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh;; */
    margin-bottom: 30px;
}

/* container-empleado bg-light shadow rounded p-4 */
.container {
    padding-top: 1rem;
    max-width: 1200px;
    width: 100%;
    background-color: rgb(237, 237, 237);
    box-shadow: var(--black);
    border-radius: 0.25rem;
    padding: 2rem;
    /*margin-top: 30em*/
}

/* h2 text-center mb-2 */
.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--green);
    text-align: center;
    margin-bottom: 0.5rem;

}

/* h3 text-center */
.h3 {
    text-align: center;
}

/* text-danger */
.textDanger {
    margin-bottom: 5px;
    color: #dc3545;
}

button.guardar {
    background-color: var(--green);
    color: var(--white);
    border: 2px solid var(--green);
}

button.guardar:hover {
    background-color: #008800;
    border-color: #008800;
    box-shadow: 0 4px 8px rgba(0, 175, 0, 0.2);
}

button.cancelar {
    background-color: #DC3545;
    color: var(--white);
    border-color: #DC3545;
}

button.cancelar:hover {
    background-color: #8b0000;
    color: var(--white);
    border-color: darkred;
}