:root {
    --white: #fff;
    --green: #00AF00;
    --black: #0000001a;
}


/* d-flex-empleado justify-content-center align-items-center vh-100 */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* container-empleado bg-light shadow rounded p-4 */
.container {
    padding-top: 1rem;
    max-width: 1200px;
    width: 100%;
    background-color: #f8f9fa;
    box-shadow: var(--black);
    border-radius: 0.25rem;
    padding: 2rem;
}

/* h2 text-center mb-2 */
.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--green);
    text-align: center;
    margin-bottom: 0.5rem;

}

/* h3 text-center */
.h3 {
    text-align: center;
}

/* text-danger */
.textDanger {
    margin-bottom: 5px;
    color: #dc3545;
}
