* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

:root {
    --green: #00AF00;
    --button-orange: #FF8C4f;
    --whitesmoke: whitesmoke;
}

#Login {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-image {
    display: flex;
    background-image: url("../img/puerto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 70%;
}

.flex {
    display: flex;
}

.logo {
    width: 100px;
    height: 100px;
    align-self: flex-end;
}

.side-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    overflow: auto;
    padding: 1rem;
    max-width: 100%;
    box-sizing: border-box;
}

.top-side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.side-conainter__title {
    color: var(--green);
    margin: 4rem 0;
    text-align: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    max-width: 400px;
    line-height: 2.5rem;
    white-space: pre-line;
}

.bottom-side-container {
    display: flex;
    height: 100%;
    padding: 1rem 3rem 0 3rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 4rem;
    background-color: var(--green);
    border-radius: 50px 50px 0 0;
    max-width: 400px;
}

.login-form-title-wrapper {
    margin: 2rem 0;
}

.login-form__title {
    text-align: center;
    color: var(--whitesmoke);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}

.login-form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-form {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.input-form__label {
    color: var(--whitesmoke);
    margin-bottom: .3rem;
    font-size: 20px;
}

.input-form__input {
    padding: .3rem;
    outline: none;
    border: none;
    border-radius: 5px;
}

.login-form-button-wrapper {
    margin: 1rem 0 2rem 0;
}

.button {
    background-color: #FF6A00;
    padding: .3rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: var(--whitesmoke);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (max-width: 768px) {
    .hero-image {
        display: none;
    }

    .side-container {
        width: 100%;
        max-width: 100%;
    }
}