.Section {
    position: relative;
}

.navbarNav {
    list-style: none;
    padding: auto;
    margin: 0;
}

.sectionAccountPart2 {
    position: relative;
}

.collapsed .Section {
    text-align: center;
}

.navLink {
    background: none;
    border: none;
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
    padding: auto;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navLink:hover {
    color: #0056b3;
}

.collapsed .navLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
}

.menuAccount {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.sectionAccountPart2:focus-within .menuAccount,
.sectionAccountPart2:hover .menuAccount {
    display: block;
}

.collapsed .menuAccount {
    /* left: 50%; */
    transform: translateX(-50%);
    /* width: max-content; */
    position: relative;
    right: -2;
    left: -2;

}

.dropdownItem {
    padding: 0;
    border: 0;
}

.collapsed .dropdownItem{
    padding: 2px 10px;
}

.link {
    color: #333;
    text-decoration: none;
    padding: auto;
}

.collapsed .link{
    padding: 0;
    border: 0;
    margin: 0;
}

.link:hover {
    background-color: #007bff;
    /* Color de fondo azul al pasar el ratón */
    color: #ffffff;
    /* Color del texto blanco al pasar el ratón */
}