.Section {
    position: relative;
}

.navbarNav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sectionAccountPart2 {
    position: relative;
}

.collapsed .Section {
    text-align: center;
}

.navLink {
    background: none;
    border: none;
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
    padding: auto;
    /* Ajuste de padding */
    /* width: 100%; */
    /* text-align: center; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

    

.navLink:hover {
    color: #0056b3;
}

.collapsed .navLink {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px auto;
    justify-content: center;
    text-align: center;
}

.menuAccount {
    display: none;
    /* Oculta el menú por defecto */
    position: absolute;
    top: 100%;
    /* Posición debajo del contenedor */
    left: 0;
    /* Alineado a la izquierda */
    right: 0;
    /* Alineado a la derecha */
    z-index: 1000;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 8px 0;


}

.collapsed .menuAccount {
    /* display: block; */
    /* Mostrar el menú cuando se está colapsado */
    position: absolute;
    top: 100%;
    /* Alinea debajo del elemento */
    left: 50%;
    /* Centrado horizontalmente */
    transform: translateX(-50%);
    /* Ajusta el centro */
    width: auto;
    /* Se ajusta al contenido */
    align-items: center;
}

.dropdownItem {
    padding: auto;
    /* Asegura que los items no se vean demasiado comprimidos */
    border: 0;
}

.link {
    color: #007bff;
    text-decoration: none;
    padding: auto;
    display: block;
    font-family: 'Arial', sans-serif;
    /* text-align: center; */
    /* Hace que los enlaces sean bloques */
}

.collapsed .link {
    padding: 0;
    margin: 0;
    /* text-align: center; */
}

.link:hover {
    background-color: #007bff;
    color: #ffffff;
}

.buttonLink {
    color: #007bff;
    text-decoration: none;
    padding: 10px;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-family: 'Arial', sans-serif;
}

.collapsed .buttonLink {
    padding: 0;
    margin: 0;
}

.buttonLink:hover {
    background-color: #007bff;
    background-color: transparent;

}

.iconCentered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon-text-container {
    gap: 8px;
}