.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: auto;
    height: 100vh;
    /* Esto puede ser problemático si cambias a position: relative */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    /* position: fixed; */
    /* Cambiar esto */
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: width 0.3s ease;
}

.toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    padding: 0px;

}

.sidebar.collapsed {
    width: auto;
}

.sidebar.collapsed i{
    align-items: center;
    justify-content: center;
    position: relative;
}


.titulo-section {
    background-color: #001600;
    color: #00AF00;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.titulo-section h1 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}

.icono {
    margin-bottom: 10px;
}
.menuAccount.collapsed {
    position: fixed;
}

.menu {
    background-color: #EDEDED;
    padding: 0;
    border-radius: 5px;
}

.menu ul {
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.menu ul li a:hover {
    background-color: #dcdcdc;
}

.logo-sena {
    margin-top: auto;
    text-align: center;
}

.logo-sena img {
    margin-top: 10px;
    max-width: 50%;
    height: 4rem;
}

.dropdown-menu {
    background-color: #EDEDED;
    border: none;
}

.dropdown-item {
    color: #000;
}

.dropdown-item:hover {
    background-color: #dcdcdc;
}

.section-account-part1 img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.menu-account {
    background-color: #D6D6D6;
}

.form-select {
    border: 2px solid var(--green);
    border-radius: 0.75rem;
}

.icono-user {
    font-size: 30px;
    background: linear-gradient(to right, #00A1FF, #0044FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.is-disabled {
    pointer-events: none;
    color: #ccc;
    cursor: not-allowed;
}

.option-menu {
    padding: 10px;
}

/* @media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
    }

    .sidebar.collapsed {
        width: 100%;
    }

    .toggle-btn {
        left: 10px;
    }
} */