.boton {
    background-color: #00AF00;
    color: #C6FF00;
    border: 0px;
    border-radius: 50px;
    font-size: 20px;
    padding: 10px 20px;
}

.boton:hover {
    background-color: #00AF00;
}

.section {
    margin: 40px;
}

.contenedorRastreo {
    padding: 50px;
    margin-top: 10em;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.entradatexto {
    height: 3em;
    padding: 30px;
    border-radius: 50px;
    background-color: #D9D9D9;
}


.custom-input:focus {
    background-color: #d1d1d1;
    outline: none;
    box-shadow: none;
}

.selectContainer {
    border-radius: 30px;
    padding: 10px;
    margin-top: 50px;
    width: 679px;
    background-color: #D9D9D9;
}


@media (max-width: 767.98px) {
    .selectContainer {
        width: 100%;
    }
}

.contentContainerSection p {
    font-size: 20px;
    color: #9A9A9A;
}

.selectinput {
    font-size: 20px;
    border: none;
    background-color: #D9D9D9;
    padding: 10px;
    height: 4em;
}